beautifulsoup4==4.4.0
certifi==2019.3.9
chardet==3.0.4
feedparser==5.2.1
flask==0.10.1
future==0.17.1
fuzzywuzzy==0.17.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
py==1.8.0
pymongo==3.8.0
pytest==2.7.2
python-levenshtein==0.12.0
python-telegram-bot==3.2.0
requests==2.22.0
six==1.12.0
urllib3==1.25.3
uwsgi==2.0.11.1
werkzeug==0.15.3
whoosh==2.7.0
